{% extends "regulations/base.html" %}

{% block title %}{{ regulation.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="my-4">{{ regulation.title }}</h1>
        <p class="lead">{{ regulation.description }}</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Regulator:</strong> {{ regulation.regulator.name }}</li>
            <li class="list-group-item"><strong>Industry Sector:</strong> {{ regulation.industry_sector.name }}</li>
            <li class="list-group-item"><strong>Regulation Type:</strong> {{ regulation.regulation_type.name }}</li>
            <li class="list-group-item"><strong>Technology:</strong> {{ regulation.technology.name }}</li>
            <li class="list-group-item"><strong>Compliance Guidelines:</strong> {{ regulation.compliance_guidelines }}</li>
        </ul>
        <a href="{% url 'regulation_list' %}" class="btn btn-secondary mt-3">Back to Regulations</a>
    </div>
</div>
{% endblock %}
