{% extends "regulations/base.html" %}

{% block title %}{{ regulation.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="my-4 text-primary">{{ regulation.title }}</h1>
        <p class="lead text-secondary">{{ regulation.description }}</p>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong class="text-primary">Regulator:</strong> {{ regulation.regulator.name }}</li>
            <li class="list-group-item"><strong class="text-primary">Industry Sector:</strong> {{ regulation.industry_sector.name }}</li>
            <li class="list-group-item"><strong class="text-primary">Regulation Type:</strong> {{ regulation.regulation_type.name }}</li>
            <li class="list-group-item"><strong class="text-primary">Technology:</strong> {{ regulation.technology.name }}</li>
            <li class="list-group-item"><strong class="text-primary">Regulatory Details:</strong> {{ regulation.regulatorydetails }}</li>
        </ul>
        <a href="{% url 'regulation_list' %}" class="btn btn-secondary mt-3">Back to Regulations</a>
        <a href="{% url 'regulation_detail_pdf' regulation.pk %}" class="btn btn-primary mt-3">Download as PDF</a>
    </div>
</div>
{% endblock %}
